* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.125rem;
  font-weight: 300;
  background-color: #fff7ed;
  /* width: 100%; */
}

a {
  text-decoration: none;
  color: #222;
}

/* -----------------
    Typography
--------------------*/

.site-logo {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 1.58rem;
  margin: 0;
}

.header-nav {
  display: flex;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #4d4d4d;
}

/* -----------------
    Layout
--------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}

.header-nav {
  display: flex;
  align-items: end;
  justify-content: space-around;
  width: 7.25rem;
  height: 1.3rem;
}
