* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.125rem;
  font-weight: 300;
  background-color: #fff7ed;
  font-family: "Archivo", sans-serif;
  /* width: 100%; */
}

/* -----------------
    Typography
--------------------*/

a {
  text-decoration: none;
  color: #222;
}

.site-logo {
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  font-size: 1.58rem;
  margin: 0;
}

.header-nav {
  display: flex;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #4d4d4d;
}

.home-container h1 {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 24px;
  max-width: 580px;
  text-align: center;
  margin-top: 0;
}

.home-container a {
  text-align: center;
  width: 100%;
  max-width: 480px;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 1rem 8rem;
  color: white;
  border-radius: 5px;
  background-color: #ff8c38;
  margin-top: 0;
}

.about-container,
.about-primary,
.about-secondary {
  display: flex;
  flex-direction: column;
}

.about-container img {
  width: 100%;
}

.about-primary {
  padding: 3rem 1.6rem;
}

.about-container h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;
}

.about-container p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
}

.about-secondary p {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.about-primary > p {
  margin-top: 1.9rem;
}

.about-container-link {
  font-size: 0.9rem;
  font-weight: 700;
  width: 10rem;
  padding: 0.75rem 1.3rem;
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.car-name,
.car-price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
}

.car-type {
  font-size: 1rem;
  font-weight: 600;
  /* padding: 0.16rem 1.2rem; */
  padding: 3px 6px;
  width: 5.3rem;
  /* border: 2px solid black; */
  text-align: center;
  margin-top: -3px;
  text-transform: capitalize;
  border-radius: 5px;
}

.luxury {
  background-color: #161616;
  color: #ffead0;
}

.simple {
  background-color: #e17654;
  color: #ffead0;
}

.economy {
  background-color: #115e59;
  color: #ffead0;
}

.car-detail-back-link {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 23px;
  text-decoration: underline;
}

.car-detail-container p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #161616;
}

.car-detail-primary span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 44px;
}

.car-detail-primary a {
  text-align: center;
  width: 100%;
  max-width: 480px;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 1rem 8rem;
  color: white;
  border-radius: 5px;
  background-color: #ff8c38;
  margin-top: 0;
}

/* -----------------
    Layout
--------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}

.header-nav {
  display: flex;
  align-items: end;
  justify-content: space-around;
  width: 7.25rem;
  height: 1.3rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("./assets/familycar.png");
  background-color: #404040;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  color: white;
  padding: 4rem 1.6rem;
  height: 80vh;
}

.about-container {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.about-secondary {
  height: 12.3rem;
  margin-top: 55px;
  justify-content: space-evenly;
  padding: 1rem 2.3rem;
  background-color: #ffcc8d;
  border-radius: 10px;
}

.cars-container {
  width: 100%;
  padding: 0;
}

.cars-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
  flex: 1 0;
}

.car-div {
  width: 90%;
}

.image-div {
  width: 100%;
}

.car-div img {
  width: 100%;
  height: 229px;
  border-radius: 5px;
}

.car-info {
  display: flex;
  justify-content: space-between;
}

.day-p {
  margin-left: 22px;
  margin-top: -10px;
}

.car-detail-container,
.car-detail-primary {
  display: flex;
  flex-direction: column;
}

.car-detail-back-link {
  margin-top: 2rem;
  margin-left: 20px;
}

.car-detail-container {
  width: 100%;
  padding: 1rem 1.5rem;
}

.car-detail-img-div {
  margin-top: 2.5rem;
  width: 100%;
}

.car-detail-img {
  width: 100%;
  height: 290px;
  border-radius: 10px;
}

.car-detail-container .car-type {
  margin-top: 3.1rem;
}

.car-detail-container h1 {
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.car-detail-description {
  margin-top: 0.6rem;
  margin-bottom: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1.5rem 6.6rem; */
  height: 9.8vh;
  background-color: #252525;
  color: rgba(255, 255, 255, 0.5);
}

/* -----------------
    Media Queries
--------------------*/

@media (min-width: 480px) {
  .about-container {
    display: block;
    margin: 2rem auto;
    max-width: 1000px;
  }

  .about-container img {
    border-radius: 10px;
    height: 50vh;
    object-fit: cover;
  }

  .about-primary > p {
    font-size: 1.3rem;
  }

  .about-secondary {
    max-width: 600px;
  }

  .cars-list-div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .car-div {
    width: 30%;
  }

  .car-detail-container {
    flex-direction: row;
    max-width: 1300px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.2rem;
    height: 50vh;
    gap: 2rem;
    /* background-color: #e17654; */
  }

  .car-detail-container .car-type {
    margin-top: 2.1rem;
  }

  footer {
    height: 11vh;
  }
}
